{% extends "wagtailadmin/base.html" %}
{% load i18n %}

{% block titletag %}{% blocktrans with category_type_name_plural=category_type_name_plural|capfirst %}Categories {{ category_type_name_plural }}{% endblocktrans %}{% endblock %}
{% block bodyclass %}menu-categories{% endblock %}

{% block content %}
    <header class="nice-padding">
        <div class="row row-flush">
            <div class="left col9">
                <h1 class="icon icon-category">{% blocktrans with category_type_name_plural=category_type_name_plural|capfirst %}Categories <span>{{ category_type_name_plural }}</span>{% endblocktrans %}</h1>
            </div>
            <div class="right col3">
                <a href="{% url 'wagtailcategories_create' content_type.app_label content_type.model %}" class="button bicolor icon icon-plus">{% blocktrans %}Add {{ category_type_name }}{% endblocktrans %}</a>
                {# TODO: figure out a way of saying "Add a/an [foo]" #}
            </div>
        </div>
    </header>
    <div class="nice-padding">
        {% if items %}
            {% include "wagtailcategories/list.html" %}
        {% else %}
            {% url 'wagtailcategories_create' content_type.app_label content_type.model as wagtailcategories_create_url %}
            <p class="no-results-message">{% blocktrans %}No {{ category_type_name_plural }} have been created. Why not <a href="{{ wagtailcategories_create_url }}">add one</a>?{% endblocktrans %}</p>
        {% endif %}
    </div>
{% endblock %}